.carthead{
    background-color: aqua;
    color: aliceblue;
}
.carttable1{
    background-color: aquamarine;
}
cart1{
    width: 200px;
    height: 300px;
    background-color: aquamarine;
}
.checkout{
    width: 20px;
    height: 20px;
    background-color: brown;
    padding: 10px;
}
.cartphoto{
    margin-bottom: 0;
    width: 100%;
    height: 200px;
    background-image: url(./cart2.jpg);
    background-size: cover;
    background-position: center;
}
.topic{
    padding-left: 20px;
    margin-top: -50px;
    color: aliceblue;
    width: auto;
    height: 80px;
    align-items: center;
    background-color: rgb(20, 58, 32);
    display: flex;
    flex: 1;
    
}
.mycart{
    gap: 10px;
    flex: 5 0 auto;
}
.topic1{
    margin-right:50%;
}
.carttable{
    margin-left: 100px;
    width: 80%;
    height: 500px;
    align-items: center;
}
.viewcart{
    margin-left: 20%;
    align-items: center;
}
.tb{
    background-color: rgb(225, 225, 217);
    width: 800px;
}
.total{
    font-weight: bold;
    font-size: 20px;
    color: aliceblue;
    text-align: right;
    padding: 20px;
    margin-top: 10px;
    width: 800px;
    background-color: rgb(19, 48, 29);
}
.buttons{
    margin: 10px;
    margin-left: 20%;
    width: 800px;
    display: flex;
    column-gap: 100px;
    
}
.cancel{
    font-weight: bold;
    padding: 10px;
    color: rgb(254, 254, 254);
    text-align: center;
    width: 350px;
    background-color: rgb(61, 14, 16);
}
.cancel:hover{
    background-color: rgb(146, 36, 41);

}
.out{
    font-weight: bold;
    padding: 10px;
    color: rgb(255, 255, 255);
    text-align: center;
    width: 350px;
    background-color: rgb(19, 48, 29);
}
.out:hover{
    
    background-color: rgb(15, 147, 61);

}